@media only screen and (max-width: 767px) {
  .background {
    background-image: url('../../../assets/images/gilgamesh-enkidu-bull.jpg');
    background-size: 100vh;
  }
}
@media only screen and (min-width: 767px) {
  .larger-photo {
    width: 700px;
  }
  .background {
    background-image: url('../../../assets/images/odisseus-boat-fairies.webp');
    background-size: 100%;
    object-fit: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
  }
}
