<div class="min-h-screen pt-4 -mb-6 pb-5 background">
  <!-- cards container -->
  <div class="mt-14 md:grid grid-cols-3 gap-6 max-w-[1340px] mx-auto">
    <!-- individual cards -->
    <div
      class="relative group"
      *ngFor="let musician of musicians"
    >
    <div class="absolute inset-x-12 inset-y-3 bg-gradient-to-b from-darkRed to-darkBlack
      rounded-lg blur-lg opacity-75 hover:inset-24 group-hover:opacity-100 transition duration-700 group-hover:duration-200
      animate-tilt
      ">
    </div>
    <div
      class="min-h-[560px] relative w-[90%] md:w-[95%] mx-auto my-6 py-5 rounded-xl bg-darkBlack hover:scale-101
        hover:translate-x-5 hover:shadow-md hover:shadow-darkGreen duration-400 cursor-pointer"
      routerLink="{{changeSpaceInLink(musician.name)}}"
      (click)="changeSpaceInLink(musician.name)"
      >
      <img
        #photo
        class="h-0 w-0 rounded-t-xl mx-auto custom"
        [src]="musician.photo"
        [alt]="musician.name"
        (load)="load(photo)"
      >
      <div class="info text-white mt-3 ml-4">
        <h1 class="text-3xl group-hover:text-darkRed duration-1000">{{musician.name}} </h1>
        <h1 class="text-xl group-hover:text-veryLightBrown duration-1000">{{musician.instrument}} </h1>
      </div>
    </div>

  </div>
  </div>
</div>
