
.navbar {
  background-color: rgba(0,0,0, 0.7);
  height: 43px;
  width: 100%;
  font-family: "lato", serif;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  padding-right: 20px;
}

.brand {
  font-family: "lato", sans-serif;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.activePage {
  border-bottom: 3px solid #fff;
  border-radius: 3px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.text-shadow {
  text-shadow: 4px 3px rgba(0,0,0,0.6);
}


@media(max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .links-and-icon {
    display: flex;
    align-items: center;
    margin-top: -27px;
  }

  .links-and-icon{
    position: fixed;
    align-items: center;
    top: -70px;
    transition: 0.8s;
  }

  @media (min-width: 768px) {
    /* CSS rules for screens 768px or less */
    .links-and-icon {
      position: absolute;
      margin-left: 10vw;
      background-color: rgba(0,0,0, 0.8);
      width: 90vw;

    }
  }

  .nav-item {
    margin: 16px 0;
  }

  .links-and-icon.active {
    top: 65px;
  }

  .social-icons {
    display: none;
  }

}

.width {
  width: 100vw;
  margin-top: 4px;
}
