.text-shadow {
  text-shadow: 4px 3px rgba(0,0,0,0.6);
}

.background {
  background-color: #02383C;
  background-image: url('https://files.fm/thumb_show.php?i=jyxyfj9qw');
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
}
