<div class="h-full background py-11 px-3 md:px-48">
  <!-- main content here  -->
  <div class="w-full flex flex-col items-center mt-6 bg-lightBlack rounded-lg py-3 px-3">
      <span class="mx-auto text-red1984 text-3xl text-shadow">Jazz Club <span class="custom-font">1984</span></span>
    <div class="mt-5">
      <img
        src="https://files.fm/thumb_show.php?i=3e97k8tsv" alt=""
        class="rounded-lg larger-photo">
    </div>
    <div class="flex flex-col items-center mt-4">
      <span class="text-white text-2xl text-shadow">About 1984</span>
      <span class="text-white text-xl text-shadow text-justify  mt-3 md:w-[60%] hover:scale-105 duration-300">
        Jazz music has a long history in Tbilisi, and the places that have hosted live performances have given jazz musicians the opportunity to do what they do best - perform in front of people on a daily basis. However, the Covid-19 pandemic and subsequent restrictions caused all jazz clubs to stop their operations.
        <br>
After a while, things started to improve and it was time for something new to be born. One of the jazz musicians, Daniel Adikashvili, decided to step up and instead of going to the USA to continue his studies at one of the best jazz schools in the world, he decided to create a place where musicians would have complete freedom and the music could reveal its greatness through them. He partnered with David Andguladze, the previous general manager of Jazz Cafe Singer, to open a jazz club. It didn't take them long to come up with the name - 1984, which was Daniel's favorite book.
        <br>
Since the opening, the club has faced many obstacles, but the dedication and love of the staff and musicians for 1984 as a place not only to work but also to enjoy the greatest music Tbilisi has to offer was the main factor in getting through those hard times. The stage of 1984 has hosted not only its residents but also musicians from different parts of the world, and there are many more to come. For us, every guest is important, and we share our love for music and for this place with everyone who decides to come here and enjoy their evening. We love 1984, and we love each person who comes to play music or listen to it. Come, witness the rite of music in the temple of melodies.
      </span>
        <span class="text-white text-2xl text-shadow mt-6">Address:</span>
        <a
        href="https://www.google.com/maps/place/26+%E1%83%90%E1%83%9C%E1%83%A2%E1%83%9D%E1%83%9C+%E1%83%99%E1%83%90%E1%83%97%E1%83%90%E1%83%9A%E1%83%98%E1%83%99%E1%83%9D%E1%83%A1%E1%83%98%E1%83%A1+%E1%83%A5%E1%83%A3%E1%83%A9%E1%83%90,+%E1%83%97%E1%83%91%E1%83%98%E1%83%9A%E1%83%98%E1%83%A1%E1%83%98/@41.6933675,44.8031776,17z/data=!3m1!4b1!4m6!3m5!1s0x40440cf0022c487b:0x4bc6f6a83e8d78c0!8m2!3d41.6933675!4d44.8053663!16s%2Fg%2F11spdcwvsr"
        target="_blank"
        class="cursor-pointer hover:scale-105 duration-300"
        >
        <span class=" text-veryLighCyan text-xl text-shadow -mt-6">Anton Katalikosi st. 26</span>
      </a>
    </div>
  </div>
</div>
