<div class="h-full flex items-center background py-11 px-3 md:px-6">
  <!-- main content here  -->
  <div class="w-full flex flex-col items-center mt-6 bg-lightBlack rounded-lg py-3 px-3">
      <span class="mx-auto text-red1984 text-5xl text-shadow">Jazz Club <span class="custom-font">1984</span></span>
    <div class="mt-5">
      <img
        src="https://files.fm/thumb_show.php?i=3e97k8tsv" alt=""
        class="rounded-lg larger-photo">
    </div>
    <div class="max-w-[1000px] flex flex-col items-center mt-4 px-10">
      <span class="text-white text-xl text-shadow text-justify  mt-3 md:w-[90%] hover:scale-105 duration-300">
        Jazz music has a long history in Tbilisi. The places that have hosted live performances have served as the scene, as a space for jazz musicians to do what they are the best at: talk with music in a language understood by no one and everyone.

        However, the Covid-19 pandemic and subsequent restrictions caused all jazz clubs to stop their evenings.
        <br>
        After a while, things started to improve and it was time for something new to be born. One of the jazz musicians, Daniel Adikashvili, decided to step up
        and instead of going abroad to continue his studies at one of the best jazz schools in the world, decided to create a place where musicians would have
        complete freedom and the music could reveal its greatness through them.  Partnered up with David Andguladze, the previous general manager of Jazz Cafe Singer,
        to open a jazz club. It didn't take them long to come up with the name - 1984, which was Daniel's favorite book.
        <br>
        Since the opening, the club has faced many obstacles, but the dedication and love of the staff and musicians for 1984 as a place not only to work but
        to enjoy the beauty of music was the main factor in getting through those hard times. The stage of 1984 has hosted not only its residents but also musicians
        from different parts of the world, and there are many more to come. For us, every guest is important, and we share our love for music and for this place with
        everyone who decides to come here and enjoy their evening. We love 1984, and we love each person who comes to enjoy the music.
        Come, witness the rite of music in the temple of melodies.
      </span>
        <span class="text-white text-2xl text-shadow mt-6">Address:</span>
        <a
        href="https://www.google.com/maps/place/1984+Jazz+Club/@41.7032745,44.790001,17.53z/data=!4m6!3m5!1s0x40440d0e3048e715:0xbeffe126cdd0ba15!8m2!3d41.7036661!4d44.7907941!16s%2Fg%2F11pdfv3m5l?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        class="cursor-pointer hover:scale-105 duration-300"
        >
        <span class=" text-veryLighCyan text-xl text-shadow -mt-6">Rustaveli st. 37</span>
      </a>
    </div>
  </div>
</div>
