<div class="flex overflow: auto" style="flex: 1 1 0">
  <div class="column">
    <div style="width: 100%; display: flex">
      <div style="width: 100%">
        <div class="" style="width: 50%">
          <h3 class="column__header">
            <span style="color: #00ae65">p</span>
            <span style="font-weight: normal">ortafoglio</span>
          </h3>
        </div>
        <mat-card class="home-card-form">
          <lib-home-card [canFlip]="true" flipAxis="Y" [flipped]="formNdgFlipped">
            <form [formGroup]="formNdg">
              <mat-card-header class="title-card">
                <mat-card-title class="flex-title">
                  <div class="bank-icons icon-notification-manager" style="font-size: 28px"></div>
                  <span style="font-size: 20px; font-weight: 200; line-height: 21px"
                    >Rischiatura e <br />
                    inserimento distinta</span
                  >
                </mat-card-title>
              </mat-card-header>
              <mat-card-actions class="card-content">
                <div class="card-row">
                  <mat-form-field style="width: 100%">
                    <div matPrefix class="inner-icon-form-input">
                      <div class="bank-icons icon-persone-giuridiche"></div>
                    </div>
                    <input matInput formControlName="ndg" name="ndg" placeholder="NDG" />
                  </mat-form-field>
                </div>
              </mat-card-actions>
              <mat-card-actions class="card-form-button">
                <button
                  style="cursor: pointer"
                  (click)="searchNdg(formNdg.get('ndg')?.value)"
                  [disabled]="!formNdg.get('ndg')?.value || formNdg.get('ndg')?.value == ''"
                  mat-stroked-button
                  class="card-button-search"
                  [routerLink]="['../dettaglio-creditore']">
                  Cerca
                </button>
              </mat-card-actions>
            </form>
            <div cardBack class="form-error">
              <button type="button" class="close" (click)="formNdgFlipped = false">×</button>
              <div class="bank-icons icon-warning form-error-warning"></div>
              <div>
                <strong id="errorDescription" class="form-error-warning">NDG INESISTENTE</strong>
              </div>
            </div>
          </lib-home-card>
        </mat-card>
      </div>
    </div>
    <div class="cards-container" style="margin-top: 10px;">
      <div class=" card-dimensions">
        <lib-home-card (click)="router.navigate(['presentations'])">
          <div class="home-card static-card">
            <div>
              <div class="bank-icons home-main-button-icon icon-presentazioni"></div>
            </div>
            <div class="label-bottone">{{ 'HOME.GESTIONE_PRESENTAZIONI' | translate }}</div>
          </div>
        </lib-home-card>
      </div>
      <div class=" card-dimensions">
        <lib-home-card (click)="sendToService()">
          <div class="home-card static-card">
            <div>
              <div class="bank-icons home-main-button-icon icon-modello-di-servizio"></div>
            </div>
            <div class="label-bottone">Invio al Service</div>
          </div>
        </lib-home-card>
      </div>
    </div>
    <div class="cards-container">
      <div [routerLink]="'/presentations/businessDay'" class=" card-dimensions" *ngIf="distintaPrintAndViewCount | async as distintaData">
        <lib-home-card [canFlip]="true" flipAxis="X" (click)="router.navigate([''])">
          <div class="home-card">
            <div *ngIf="distintaData.printDistinte !== 0 || distintaData.viewDistinte !== 0" class="giornata-triangle">
              <div class="giornata-triangle-exclamation">!</div>
            </div>
            <div>
              <div class="bank-icons home-main-button-icon icon-chiusura-giornata"></div>
            </div>
            <div class="label-bottone">Gestione Giornate<br />Operativa</div>
          </div>
          <div class="home-card static-card giornata-back-card" cardBack [ngClass]="distintaData.printDistinte === 0 && distintaData.viewDistinte === 0 ? 'giornata-empty' : ''">
            <div>
              <span style="font-size: 20px">{{ distintaData.printDistinte }}</span>
              <span>distinte da stampare</span>
            </div>
            <div>
              <span style="font-size: 20px">{{ distintaData.viewDistinte }}</span>
              <span>distinte da visionare</span>
            </div>
            <span style="font-size: 16px">Aperta</span>
          </div>
        </lib-home-card>
      </div>
      <div [routerLink]="'/presentations/circularity/list'" class=" card-dimensions">
        <lib-home-card>
          <div class="home-card static-card">
            <div>
              <div class="bank-icons home-main-button-icon icon-presentazioni-in-circolarita"></div>
            </div>
            <div class="label-bottone">Lista Presentazioni Non<br />Telematiche</div>
          </div>
        </lib-home-card>
      </div>
    </div>
  </div>
  <div class="column" style="width: 300px;">
    <div class="" style="width: 100%; margin-top: 38px">
      <mat-card class="home-card-form">
        <lib-home-card [canFlip]="true" flipAxis="Y" [flipped]="interventiSingoliFlipped">
          <form [formGroup]="formInterventiSingoli">
            <mat-card-header class="title-card">
              <mat-card-title class="flex-title">
                <div class="bank-icons icon-effetti" style="font-size: 28px"></div>
                <span style="font-size: 20px; font-weight: 200; line-height: 21px">Interventi Singoli</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-actions class="card-content">
              <div class="card-row">
                <mat-form-field style="width: 48%">
                  <div class="inner-icon-form-input">
                    <div matPrefix class="bank-icons icon-abi"></div>
                  </div>
                  <input matInput formControlName="abi" name="abi" placeholder="Abi" />
                </mat-form-field>
                <mat-form-field style="width: 48%">
                  <div class="inner-icon-form-input">
                    <div matPrefix class="bank-icons icon-numero"></div>
                  </div>
                  <input matInput formControlName="effectNumber" name="effectNumber" placeholder="Numero" />
                </mat-form-field>
              </div>
            </mat-card-actions>
            <mat-card-actions class="card-form-button">
              <button
                style="cursor: pointer"
                (click)="cercaInterventi('singoli')"
                [disabled]="
                  !formInterventiSingoli.get('abi')?.value ||
                  formInterventiSingoli.get('abi')?.value == '' ||
                  !formInterventiSingoli.get('effectNumber')?.value ||
                  formInterventiSingoli.get('effectNumber')?.value == ''
                "
                mat-stroked-button
                class="card-button-search"
                [routerLink]="['../dettaglio-creditore']">
                Cerca
              </button>
            </mat-card-actions>
          </form>
          <div cardBack class="form-error">
            <button type="button" class="close" (click)="interventiSingoliFlipped = false">×</button>
            <div class="bank-icons icon-warning form-error-warning"></div>
            <div>
              <strong id="errorDescription" class="form-error-warning">EFFETTO INESISTENTE</strong>
            </div>
          </div>
        </lib-home-card>
      </mat-card>
    </div>

    <div class="" style="width: 100%; margin-top: 8px">
      <mat-card class="home-card-form">
        <lib-home-card [canFlip]="true" flipAxis="Y" [flipped]="ricercaPerAbiFlipped">
          <form [formGroup]="formRicercaPerAbi">
            <mat-card-header class="title-card">
              <mat-card-title class="flex-title">
                <div class="bank-icons icon-effetti" style="font-size: 28px"></div>
                <span style="font-size: 18px; font-weight: 200; line-height: 21px">Ricerca per ABI e Numero</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-actions class="card-content">
              <div class="card-row">
                <mat-form-field style="width: 48%">
                  <div class="inner-icon-form-input">
                    <div matPrefix class="bank-icons icon-abi"></div>
                  </div>
                  <input matInput formControlName="abi" name="abi" placeholder="Abi" />
                </mat-form-field>
                <mat-form-field style="width: 48%">
                  <input matInput formControlName="effectNumber" name="effectNumber" placeholder="Numero" />
                </mat-form-field>
              </div>
            </mat-card-actions>
            <mat-card-actions class="card-form-button">
              <button
                style="cursor: pointer"
                (click)="cercaInterventi('abi')"
                [disabled]="
                  !formRicercaPerAbi.get('abi')?.value ||
                  formRicercaPerAbi.get('abi')?.value == '' ||
                  !formRicercaPerAbi.get('effectNumber')?.value ||
                  formRicercaPerAbi.get('effectNumber')?.value == ''
                "
                mat-stroked-button
                class="card-button-search"
                [routerLink]="['../dettaglio-creditore']">
                Cerca
              </button>
            </mat-card-actions>
          </form>
          <div cardBack class="form-error">
            <button type="button" class="close" (click)="ricercaPerAbiFlipped = false">×</button>
            <div class="bank-icons icon-warning form-error-warning"></div>
            <div>
              <strong id="errorDescription" class="form-error-warning">EFFETTO INESISTENTE</strong>
            </div>
          </div>
        </lib-home-card>
      </mat-card>
    </div>

    <div class="" style="width: 100%; margin-top: 8px">
      <mat-card class="home-card-form">
        <lib-home-card [canFlip]="true" flipAxis="Y" [flipped]="ricercaPerMavFlipped">
          <form [formGroup]="formSearchByMav">
            <mat-card-header class="title-card">
              <mat-card-title class="flex-title">
                <div class="bank-icons icon-effetti" style="font-size: 28px"></div>
                <span style="font-size: 18px; font-weight: 200; line-height: 21px">Ricerca M.Av. per Codice</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-actions class="card-content">
              <div class="card-row">
                <mat-form-field style="width: 100%">
                  <div class="inner-icon-form-input">
                    <div matPrefix class="bank-icons icon-filiale"></div>
                  </div>
                  <input matInput formControlName="identificativo" name="identificativo" placeholder="Identificativo" mask="00000" />
                </mat-form-field>
              </div>
            </mat-card-actions>
            <mat-card-actions class="card-form-button">
              <button
                style="cursor: pointer"
                (click)="cercaMav()"
                [disabled]="!formSearchByMav.get('identificativo')?.value || formSearchByMav.get('identificativo')?.value == ''"
                mat-stroked-button
                class="card-button-search"
                >
                Cerca
              </button>
            </mat-card-actions>
          </form>
          <div cardBack class="form-error">
            <button type="button" class="close" (click)="ricercaPerMavFlipped = false">×</button>
            <div class="bank-icons icon-warning form-error-warning"></div>
            <div>
              <strong id="errorDescription" class="form-error-warning">EFFETTO INESISTENTE</strong>
            </div>
          </div>
        </lib-home-card>
      </mat-card>
    </div>
    <div style="display: flex; margin: 8px">
      <div routerLink="/effect-filter" class=" card-dimensions">
        <lib-home-card>
          <div class="home-card static-card">
            <div>
              <div class="bank-icons home-main-button-icon icon-file"></div>
            </div>
            <div class="label-bottone">Ricerca Effetti</div>
          </div>
        </lib-home-card>
      </div>
    </div>
  </div>
  <div class="column">
    <div>
      <div style="margin: 0 15px">
        <h3 class="column__header">
          <span style="color: #00ae65">c</span>
          <span style="font-weight: normal">ollaboration</span>
        </h3>
      </div>
      <div class=" card-dimensions">
        <lib-home-card (click)="router.navigate(['noticeboard/list'])">
          <div class="home-card static-card">
            <div>
              <div class="bank-icons home-main-button-icon icon-bacheca-2"></div>
            </div>
            <div *ngIf="bachecaCount | async as count" class="bacheca-count">
              <div class="count">
                {{ count }}
              </div>
            </div>
            <div class="label-bottone">Bacheca</div>
          </div>
        </lib-home-card>
      </div>
    </div>
  </div>
  <div class="column" style="margin-top: 33px">
    <div routerLink="/payment" class=" card-dimensions">
      <lib-home-card>
        <div class="home-card static-card">
          <div>
            <div class="bank-icons home-main-button-icon icon-nome-file-fisico"></div>
          </div>
          <div class="label-bottone" style="text-align: center">Distinte di Pagamento e Rifiuto</div>
        </div>
      </lib-home-card>
    </div>
  </div>


</div>
<app-footer class="footer">
</app-footer>
