.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container img {
  display: none;
  height: 100vh;
  animation: expand 3s forwards;
  object-fit: cover;
  opacity: 0.9;
}

@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05)
  }
}



// Text and button here

.text-and-button {
  position: absolute;
  top: 35vh;
  margin-left: 15vw;
  color: white;
}


.weekday {
  font-size: 3vw;
  font-weight: 150;
  text-shadow: 5px 5px rgba(0,0,0,0.6);
}

.band-name {
  font-size: 5vw;
  margin-top: -3rem;
  margin-bottom: 2rem;
  font-weight: 150;
  text-shadow: 5px 5px rgba(0,0,0,0.6);
}

// See Event Button

.see-more {
  z-index: 2;
  width: 200px;
  height: 70px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: 0.8s ease;
  cursor: pointer;
  text-shadow: 2px 2px rgba(0,0,0,0.6);
}
.see-more:hover {
  background-color: white;
  color: rgba(0,0,0,0.8);
  text-shadow: 2px 2px rgba(102, 99, 99, 0.6);
}


.carousel-container img.image-active {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 768px) {

  .social-icons {
    visibility: hidden;
  }

  .text-and-button {
    top: 45vh;
    text-align: center;
    margin-left: 0;
  }

  .weekday {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    font-weight: 150;
  }

  .band-name {
    font-size: 4rem;
    margin-top: -3rem;
    margin-bottom: 2rem;
    font-weight: 100;
  }

  .see-more {
    width: 70%;
  }

}

//dots/indicators
.carousel-dot-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}


.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.6s ease;
  opacity: 0.5;
}

.active,
.dot:hover {
  opacity: 1;
}




// left and right buttons

.btn-carousel{
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.icon-carousel {
  opacity: 0.7;
  transition: all 0.15s ease;
  border-radius: 50%;
}

.icon-carousel:hover {
  color: #fff;
  opacity: 1;
}

.icon-carousel:active {
  opacity: 0.5;
}

.icon-next,
.icon-prev {
  font-size: 45px;
}
