<div *ngIf="bandData && bandData.length > 0">
  <div  *ngFor="let band of bandData; let i = index" class="carousel-container">
    <img
      [src]="band.imageSrc"
      [alt]="band.imageAlt"
      [ngClass]="{'image-active' : selectedIndex === i}"
      />
    <div class="text-and-button">
      <h1 class="page-text weekday">{{ band.eventDay}} </h1>
      <h1 class="page-text band-name">{{ band.bandName }}</h1>
      <div class="button">
        <button [routerLink]="['/events', band.eventDay]" class="see-more">
          <svg width="200px" height="70px" viewBox="0 0 200 70" class="border">
            <polyline points="0,0 50,25 50,75 200,70"/>
            <polyline points="0,70 100,35 50,75 200,0"/>
            <polyline points="200,0 100,35 50,75 0,70"/>
          </svg>
          <span>See More</span>
        </button>
      </div>
    </div>


    <button class="btn-carousel btn-prev" (click)="onPrevClick()">
      <i
        class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
    </button>

    <button class="btn-carousel btn-next" (click)="onNextClick()">
      <i
        class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
    </button>
    <div class="carousel-dot-container">
      <span
        *ngFor="let dot of bandData; let i = index"
        class="dot"
        [ngClass]="{'active' : selectedIndex === i}"
        (click)="selectImage(i)"
        ></span>
      </div>
  </div>
</div>

