/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

// Lato font
@font-face {
  font-family: lato;
  src: url("./assets/fonts/Lato-Black.ttf");
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

:root {
  --first-color: rgba(0,0,0,0.95);
  --second-color: rgba(256, 256, 256, 0.95);
  --third-color: rgba(255, 0, 0, 0.6);
}
