.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-spotify {
  color: white;
}

.background {
  background-image: url('https://files.fm/thumb_show.php?i=jyxyfj9qw');
  object-fit: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}


@media only screen and (max-width: 767px) {
  .background {
    background-image: url('https://files.fm/thumb_show.php?i=jyxyfj9qw');
    background-size: 100vh;
  }
}

.text-shadow {
  text-shadow: 4px 3px rgba(0,0,0,0.6);
}
